.slider img {
	z-index: -999999;
	width: 100%;
	
}

.slider {
	position: relative;
	width: 100%;
	padding:0%;
	margin:0;
	
}

.slider .hometitle {
	display: block;
	z-index: 10;
	position: absolute;
	text-align: center;
	color: #efefef;
	text-shadow: 2px 1px #5b5b5b ;
	bottom: 20%;
	right: 27%;
	font-size:3.5em;
	font-family: Gobold Bold;

}

.slider .hometitle #p-home {
	font-family: Gobold Light;
	font-size: 30px;

}

.slider-mb1 {
	display: none;
}


section h1 {

	color: #FFF;
	text-align: center;
	font-family: Gobold-Regular;
	font-size: 100px;
}

section h2 {

	color: #FFF;
	text-align: center;
	font-family: Gobold-Regular;
	font-size: 50px;
}

.png{
	text-align: center;
	margin: auto;
	display: inline-block;
	
	width: 100%;

}


p {
	text-align: left;
	margin: 50px 100px 0px 100px;
	color: #fff;
	font-size: 25px;
	font-family: Helvetica;
}

