main {
	text-align: center;
}

.cover {
	position: relative;
	padding-top: 65px;
}

.cover img {

	width: 100%

}

.cover .txtcover {
	position: absolute;
	text-align: center;
	color: #111111;
	bottom: 4%;
	right: 8%;
	font-size:3.5em;
	font-family: Gobold Bold;
	transition: 0.5;
}

.hist-box {
	width: 80%;
	text-align: center;
	margin: auto;
}


.text-div p, h4 {
	text-align: left;
	color: #fff;
}

.text-div img {
	margin: auto;
	text-align: center;
}

#leyendas {
	text-align: center;
	font-family: Gobold-Regular;
	font-size: 100px;
}

.leyen p {

	margin: auto;
	display: inline-block;
	text-align: left;
	font-size: 20px;
}

h4 {
	text-align: center;
	font-size: 50px;
}

.leyen p img {

	padding-bottom: 80px;
}
	

.text-div h1 {
	text-align: center;
	color: #fff;
} 	

#pic-hist1 {
	text-align: center;
	margin: auto;
	width: 100%;
}

@media(max-width: 1026px){

.video-regate iframe {
	margin: 0;
	padding-top: 0px;
	width: 100%;

}

#pic-hist1 {
	width: 100%;
}

.cover .txtcover {
	position: absolute;
	text-align: center;
	color: #111111;
	bottom: 4%;
	right: 8%;
	font-size:3.5em;
	font-family: Gobold Bold;
	transition: 0.5;
}

@media(max-width: 1026px){

.video-regate iframe {
	width: 568px;
	margin: 0;
	padding-top: 0px;

}

}



}

